<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Request</title>
</head>

<body style="margin: 0; font-family: Arial;">
    <table style="border: 0; width: 100%;">
        <tr style="background: #eeeeee;">
            <td style="padding: 20px; color: #808080; text-align: center; font-size: 40px; font-weight: 600;">
                Password Reset Request
            </td>
        </tr>
        <tr>
            <td style="padding: 20px; color: #808080; font-size: 16px; font-weight: 100;">
                <p>Hello,</p>
                <p>We received a request to reset your password. If you did not make this request, please ignore this email. Otherwise, you can reset your password using the link below:</p>
                <p><a href="{{websiteURL}}/reset-password?email={{email}}">Reset Password</a></p>
                <p>If you have any trouble clicking the "Reset Password" button, copy and paste the URL below into your web browser:</p>
                <p>{{websiteURL}}/reset-password?email={{email}}</p>
                <p>For any further assistance, please contact us at {{connectNumber}}.</p>
            </td>
        </tr>
    </table>
</body>

</html>