<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{app_name}} Order Confirmation</title>
    <style>
      body { font-family: Arial, sans-serif; margin: 0; padding: 0;
      background-color: #f4f4f4; } .container { width: 80%; margin: auto;
      background-color: #ffffff; padding: 20px; border-radius: 8px; box-shadow:
      0 4px 6px rgba(0, 0, 0, 0.1); } .header { text-align: center; padding:
      20px 0; background-color: #00838f; color: #ffffff; } .content {
      text-align: center; padding: 20px 0; color: #333333; } .footer {
      text-align: center; padding: 20px 0; background-color: #eeeeee; color:
      #666666; } .content p { margin: 10px 0; } .content .thankyMessage {
      font-size: 14px; font-weight: bold; } .content .orderNumber { font-size:
      20px; color: #00838f; } .content .EmailReceipt, .content
      .appreciateMessage { font-size: 14px; }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="header">
        <h1>{{app_name}} Order Confirmation</h1>
      </div>
      <div class="content">
        <p class="thankyMessage">Thank you for your order.</p>

        <p class="orderNumber">Your order number is:
          <strong>{{orderNumber}}</strong></p>

        <p class="EmailReceipt">Please keep this email as a receipt for your
          order.</p>
      </div>
      {{#if items}}

        <div class="quotation-container">
          <h2 id="quotation-title">Quotation</h2>
          <div class="quotation-top-container">
            <div>
              {{#if items.customerDetails}}

                {{#if items.customerDetails.name}}
                  <p>Customer Name:
                    <span>{{items.customerDetails.name}}</span></p>
                {{/if}}

                <p>Customer Email:
                  <span>{{items.customerDetails.email}}</span>
                </p>
                {{#if items.customerDetails.phoneNumber}}
                  <p>Customer Phone:
                    <span>{{items.customerDetails.phoneNumber}}</span></p>
                {{/if}}
                <p>Customer Address:
                  <span> {{items.customerDetails.address}}</span></p>
              {{/if}}
            </div>
            <div class="order-details">
              <p>Order Date: <span>{{items.orderDate}}</span></p>
              <p>Order Number: <span>{{items.orderNumber}}</span></p>
              <p>Order Status: <span>{{items.status}}</span> </p>
              <p>Business:
                <span><a
                    href="{{items.customerDetails.redirectUrl}}"
                  >Link</a></span>
              </p>
            </div>

          </div>
          <table>
            <thead>
              <tr>
                <th>Product/Service</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>VAT Amount</th>
                <th>Description</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{items.name}}</td>
                <td>{{items.quantity}}</td>
                <td>{{items.unitPrice}}</td>
                <td>{{items.vatAmount}}</td>
                <td>{{items.description}}</td>
                <td>{{items.unitPrice}}</td>
              </tr>
            </tbody>
            <tfoot>

              <tr>
                <td colspan="5">Grand Total</td>
                <td id="total">{{items.totalAmount}}</td>
              </tr>

            </tfoot>
          </table>
        </div>
      {{/if}}

      <div class="footer">
        <p>{{app_name}}</p>
        <p class="appreciateMessage">We appreciate your business and look
          forward to serving you again.</p>

      </div>
    </div>
  </body>

</html>